<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <%= link_to image_tag(gravatar_url(current_user)), user_path(current_user.id) %>
  <%= current_user.first_name %>
    <%= link_to "#{current_user.email}", edit_user_path(current_user.id) %>
  </li>
<% else %>
  <li>
  <%= link_to('Sign in', new_user_session_path)  %>
  </li>
  <li>
  <%= link_to('Sign up', new_user_registration_path)  %>
  </li>
<% end %>
