%section.searchbar
  .container
    .row
      .col-md-12
        %h1.searchbar__title= "#{t 'partials.searchbar.title'}"
        %h2.searchbar__subtitle= "#{t 'partials.searchbar.subtitle'}"
        %div.searchbar__form
          = form_tag users_path, method: :get do
            = text_field_tag :search, params[:search], {:class => "searchbar__form__search"}
            %button.searchbar__form__submit
              ="#{t 'partials.searchbar.search'}"
