%article.user-item
  .user-item__image= link_to image_tag(gravatar_url(user)), user_path(user.id)
  .user-item__name="#{user.first_name} #{user.last_name}"
  .user-item__email= "#{user.email}"
  .skills
  - user.technologies.each do |technology|
    .skill__item= technology.name
  %br
  - if can? :manage, user.company
    = link_to "#{user.company.name}", edit_company_path(user.company)
