%section.user-edit
  .container
    .row
      .col-md-12
        - if can? :edit, @user
          .user-item__image
            = image_tag(gravatar_url(@user))
          = simple_form_for @user do |f|
            %p
              = f.input :first_name
            %p
              = f.input :last_name
            %p
              = f.button :submit
            = render partial: "skills"
            %br
            - if @user.company.blank?
              = link_to "Create company", new_company_path
            - elsif can? :manage, @user.company
              %h3 Your company:
              = link_to "#{@user.company.name}", edit_company_path(@user.company)
              %h4 Add offer:
              = link_to "add offer", new_offer_path
              %h4 Your offers:
              %section.section.section--offers
                .offers-list
                  - @offers.each do |offer|
                    = render offer
