%p= @company.description
%div.company-details-box
  %span="#{t 'activerecord.attributes.company.address'}: #{@company.address}"
  %br/
  %span="#{t 'activerecord.attributes.company.phone'}: #{@company.phone}"
  - if @company.nip.present?
    %br/
    %span="#{t 'activerecord.attributes.company.nip'}: #{@company.nip}"

  - if @company.krs.present?
    %br/
    %span="#{t 'activerecord.attributes.company.krs'}: #{@company.krs}"
  %br/
  %span="#{t 'activerecord.attributes.company.web_page'}: #{@company.web_page}"
  %br/

  - if can? :manage, company
    = link_to "#{t 'pages.companies.edit'}", company
