%article.offer
  .offer__details
    .offer__details__location
      ="#{offer.location}"
    .offer__details__salary
      ="#{offer.min_salary}"
  %h1.offer__title= offer.title
  %h2.offer__company=link_to "#{offer.company.name}", offer.company
  %div.skills
    - offer.skills_requirements.each do |skill|
      =link_to "#{skill.technology.name}", {:controller => "offers", action: "index", :search => skill.technology.name },  class: "skill__item"
    =link_to "#{offer.role.name}", {:controller => "offers", action: "index", :search => offer.role.name },  class: "skill__item"
  %div.offer__description
    =offer.short_desc
  %div.offer__view
    =link_to "#{t 'partials.offer.view'}", offer
    %br
    - if can? :manage, offer.company.user
      = link_to 'edit', edit_offer_path(offer)
      - if offer.applicants.present?
        %h4 Applicants:
        - offer.applicants.each do |applicant|
          =link_to "#{applicant.email}", user_path(applicant)
          %br
